.container {
	padding: 0 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	display: flex;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0070f3;
}

.year {
	color: #0070f3;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 2rem;
	}
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-width: 300px;
	margin: 0 1rem 1rem;
}

.card {
	padding: 1.5rem;
	text-align: center;
	border: 1px solid #eaeaea;
	border-radius: 16px;
	box-shadow: 1px 1px 1px 1px #eaeaea;
	width: 100%;
}

.cardContainer h2 {
	font-size: 3rem;
}

.card p {
	margin: 0;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 700;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.days {
	color: #0070f3;
}

.hours {
	color: #d817ad;
}

.minutes {
	color: #ffd700;
}

.seconds {
	color: #e11d48;
}
